.profileProfileDiv {
  /* // 해상도 고정 width값 좁게 줘서 중앙쪽 위치시키면 고정 마진0 auto  */
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.profileProfile {
  position: relative;
  right: 450px;
}

.profileProfileDiv2 {
  position: relative;
  margin: 0 auto;
  /* // border: 1px solid red; */
  display: flex;
  width: 300px;
  font-weight: bold;
}

.profileProfileText {
  margin-right: 30px;
  cursor: pointer;
}

.profileProfileText {
  margin-right: 30px;
  cursor: pointer;
}

.profileProfileName {
  position: relative;
  margin-top: 10px;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.modalMainProfilechange {
  position: absolute;
  top: calc(50vh - 80px);
  /* // justify-content: center; */
  align-items: center;
  width: 400px;
  height: 140px;
  border-radius: 0.7rem;
  background-color: white;
  left: calc(50vw - 200px);
}

.modalMainPointText {
  .modalTextBlue2 {
    color: #4395ff;
  }
}

.modalTextBlue {
  text-decoration: none;
  color: inherit;
  /* span:hover {
    text-decoration: none;
  } */
}
.modalBackgroundWhite {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 500;
}

.modalProfileFollow {
  position: absolute;
  align-items: center;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
  width: 400px;
  height: 400px;
  border-radius: 0.7rem;
  background-color: white;
  border: 1px solid rgb(214, 214, 214);
}
.closeButton {
  position: relative;
  width: 30px;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

.modalProfileFollowText {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 355px;
  /* p {
    color: rgb(85, 85, 85);;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 4%;
    cursor: pointer;
  } */
}

.modal_profile_follow_text {
  .followingText {
    font-size: 20px;
    color: black;
  }
}

.profileUsername {
  position: relative;
  left: 450px;
  bottom: 40px;
  font-size: 30px;
  font-weight: 100;
}

.profileGear {
  position: relative;
  left: 40px;
  bottom: 2px;
  cursor: pointer;
}

.profileProfileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.profileProfileImageBox {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
  position: relative;
  left: 200px;
}

.closefriendsProfileImageBox {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
  position: relative;
  right: 20px;
  top: 100px;
}

.modalProfileGear {
  position: absolute;
  top: calc(50vh - 150px);
  align-items: center;
  width: 400px;
  height: 265px;
  border-radius: 0.7rem;
  background-color: white;
  left: calc(50vw - 200px);

  .modalProfileGearP {
    color: rgb(85, 85, 85);
    font-weight: bolder;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 6%;
    cursor: pointer;
  }
}

.modalProfileGearText {
  position: relative;
}

.modalProfileGearP {
  color: rgb(85, 85, 85);
  font-weight: bolder;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 6%;
  cursor: pointer;
}

.edit-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.edit-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  /* // box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  border: 1px solid rgb(228, 228, 228);
  padding: 40px 55px 45px 55px;
  /* border-radius: 15px; */
  transition: all 0.3s;
}

.editProfileDiv {
  position: relative;
  width: 700px;
  height: 550px;
  top: 30px;
  margin: 0 auto;
}

.editprofileProfileDiv {
  position: relative;
  left: 360px;
  bottom: 20px;
}

.editprofileForm {
  display: flex;
  right: 30px;
}

.editprofileLabel {
  font-weight: bold;
  position: relative;
  margin-right: 10px;
  width: 130px;
  top: 7px;
  text-align: right;
}

.Msg2 {
  /* // changepassword */
  position: relative;
  left: 115px;
  color: rgb(255, 0, 43);
  font-size: 13px;
  margin-top: 3px;
  font-weight: bold;
}

.changepasswordTextarea {
  resize: none;
}

.editprofileBtn {
  position: relative;
  top: 15px;
  left: 113px;
}

.editprofileForgotPassword {
  position: relative;
  top: 40px;
  right: 103px;
  height: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}

.pa {
  text-decoration: none;
}

.modalMainpPoint {
  position: absolute;
  top: calc(50vh - 80px);
  /* justify-content: center; */
  align-items: center;
  width: 400px;
  height: 140px;
  border-radius: 0.7rem;
  background-color: white;
  left: calc(50vw - 200px);
}

.modalEditprofilePoint {
  position: absolute;
  top: calc(50vh - 100px);
  /* // justify-content: center; */
  align-items: center;
  width: 400px;
  height: 270px;
  border-radius: 0.7rem;
  background-color: white;
  left: calc(50vw - 200px);
  height: 140px;
}
